<svg
  app-canvas
  [attr.width]="canvasWidth"
  [attr.height]="canvasHeight"
  [attr.viewBox]="getViewport()"
  [viewPortX]="cfg.viewPortX"
  [viewPortY]="cfg.viewPortY"
  [zoom]="cfg.zoom"
  (onResize)="onResize($event)"
  (onPanning)="onPanning($event)"
  (onZooming)="onZooming($event)"
  [elements]="(elements$ | async) || []"
></svg>
<app-status></app-status>
<app-command-line *ngIf="showCommandLine$ | async"></app-command-line>
<ng-container *ngComponentOutlet="currentTool.component"></ng-container>
