:host {
  background-color: #444;
  user-select: none;
}

line,
ellipse,
path {
  stroke: white;
  fill: none;
  &.hovered {
    stroke: #6a33ee;
  }
}

.selected {
  stroke: #ff11ff;
}
// &:hover {
//   fill: transparent;
//   stroke: #ee3333c0;
//   stroke-width: 2px;
// }
