<ng-container *ngFor="let ele of elements">
  @if(ele.type === 'line') {
  <svg:line
    [id]="ele.id"
    [attr.x1]="ele.x1"
    [attr.y1]="ele.y1"
    [attr.x2]="$any(ele).x2"
    [attr.y2]="$any(ele).y2"
    (mouseenter)="hoveredId = ele.id"
    (mouseleave)="hoveredId = ''"
    [ngClass]="{ hovered: ele.id === hoveredId }"
  />
  } @else if(ele.type === 'ellipse') {
  <svg:ellipse
    [id]="ele.id"
    [attr.cx]="ele.x1"
    [attr.cy]="ele.y1"
    [attr.rx]="$any(ele).rx"
    [attr.ry]="$any(ele).ry"
    (mouseenter)="hoveredId = ele.id"
    (mouseleave)="hoveredId = ''"
    [ngClass]="{ hovered: ele.id === hoveredId }"
  />
  } @else if (ele.type == 'path') {
  <svg:path
    [id]="ele.id"
    [attr.d]="$any(ele).path"
    (mouseenter)="hoveredId = ele.id"
    (mouseleave)="hoveredId = ''"
    [ngClass]="{ hovered: ele.id === hoveredId }"
  />

  }
</ng-container>
