.status {
  position: absolute;
  left: 20px;
  bottom: 20px;

  width: 200px;
  height: 2rem;
  border-color: #666;
  border-width: 1px;
  border-style: solid;
  padding: 3px;
  background-color: #ccc;

  display: flex;
  flex-direction: row;
  align-items: center;
}
