.command-line {
  position: absolute;
  right: 220px;
  bottom: 20px;

  width: 400px;
  border-color: #666;
  border-width: 1px;
  border-style: solid;
  padding: 3px;
  background-color: #ccc;

  input {
    width: 100%;
  }
}
