:host {
  background-color: #eee;
  user-select: none;
}

line,
ellipse,
path {
  stroke: #111;
  fill: none;
  &.hovered {
    stroke: #6a33ee;
  }
}

.selected {
  stroke: #ff11ff;
}

.selection-box {
  fill: #6a33ee33;
  stroke: #6a33ee;
  stroke-width: 0.1px;
}

// &:hover {
//   fill: transparent;
//   stroke: #ee3333c0;
//   stroke-width: 2px;
// }
